<%= form_for(@project) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :image %>
		<%= f.text_field :image %>
	</div>

	<div class="field">
		<%= f.label :category %>
		<%= f.text_field :category %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :goal %>
		<%= f.text_field :goal %>
	</div>

	<div class="field">
		<%= f.label :end_time, "End on date & time" %>
		<%= f.date_field :end_time %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>