<h1>Check out these cool projects!</h1>

<% @projects.each do |project| %>
	<%= image_tag project.image %><br/>
	<%= link_to project.title, "/projects/#{project.id}" %><br />
	Description: <%= project.description %><br />
	Goal: $<%= project.goal %><br/>
	Ends on: <%= project.end_time %><br/>
<% end %>