<%= link_to "Back to home", root_url %> | <%= link_to "Edit Project", edit_project_path %>
<h1><%= @project.title %></h1>

<p><%= image_tag @project.image%></p>
<p>Description: <%= @project.description %></p>
<p>Goal: $<%= @project.goal %></p>
<p>Pledged: $<span id="pledged_amt"><%= @project.pledged %></span></p>
<p></p>

<h3>Rewards!</h3>

<% @project.breakpoints.each do |breakpoint| %>
	<div class="breakpoint">
		Pledge: <%= breakpoint.pledge_amt %><br>
		Description: <%= breakpoint.description %><br>
		Estimated Delivery: <%= breakpoint.delivery %><br>

<!-- 		
		<%= link_to "poop", pledges_path( :breakpoint_id => breakpoint.id, :poop => 'poop' ), :method => "POST" %>
 -->

		<%= form_for @pledge do |f| %>
			<%= f.hidden_field :breakpoint_id, { :value => breakpoint.id } %>
			<%= f.submit "Pledge!" %>
		<% end %>
	
	</div>
<% end %>